---
layout: layout
---

<!-- Page Header -->
<!-- {% include intro-header.html type='page' %} -->
<%- include('partials/intro-header', { include: { type: 'page' }}) %>

<!-- Main Content -->
<div class="container">
	<div class="row">
    <% if (theme.sidebar == false){ %>
      <!-- NO SIDEBAR -->
      <!-- PostList Container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
        <%- body %>

        <!-- comment -->
        <% if (page.comments) { %>
          <% if ( theme.gitalk && theme.gitalk.enable) { %>
            <div class="comments" id="gitalk-container">
            </div>
          <% } %>
        <% } %>
      </div>
      <!-- Sidebar Container -->
      <div class="
          col-lg-8 col-lg-offset-2
          col-md-10 col-md-offset-1
          sidebar-container">

          <!-- Featured Tags -->
          <%- include('partials/featured-tags', { include: {} }) %>

          <!-- Friends Blog -->
          <%- include('partials/friends') %>
      </div>
    <% } else { %>

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
          <%- body %>

          <!-- comment -->
          <%- include('partials/comment.ejs') %>
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                <%- include('partials/featured-tags', { include: {} }) %>

                <!-- Short About -->
                <%- include('partials/short-about') %>

                <!-- Friends Blog -->
                <%- include('partials/friends') %>
    		</div>
        <% } %>
  </div>
</div>

<% if (theme['page-mathjax']){ %>
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<% } %>
